<!-- Portfolio Item Heading -->
<h1 class="my-4">{{movie.title}}
    <small>{{movie.tagline}}</small>
</h1>

<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-8">
        <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="">
    </div>

    <div class="col-md-4">
        <h3 class="my-3">rating ({{movie.vote_count}} votes)</h3>
        <p><bar-rating [(rate)]="movie.vote_average" [max]="10"></bar-rating></p>
        <h3 class="my-3">description</h3>
        <p>{{movie.overview}}</p>
        <h3 class="my-3">genres</h3>
        <ul>
            <li *ngFor="let genre of movie.genres">{{genre.name}}</li>
        </ul>
        <h3 class="my-3">cast</h3>
        <ul>
            <li *ngFor="let cast of movieCredits">{{cast.character}} - {{cast.name}}</li>
        </ul>
    </div>

</div>
<!-- Related Projects Row -->
<h3 class="my-4">related</h3>

<div class="row">

    <div class="col-md-3 col-sm-6 mb-4" *ngFor="let movieRecommend of movieRecommendations">
        <a href="#" [routerLink]="['/movie/', movieRecommend.id]" routerLinkActive="router-link-active" >
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{movieRecommend.poster_Path}}" alt="">
        </a>
    </div>

</div>
<!-- /.row -->