<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
        to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" (click)="login()" role="button">Login</a>
</div>

<div class="row">
    <div class="col-md-4" *ngFor="let movie of movieTrends">
        <div class="card mb-4 shadow-sm">
            <img class="card-img-top" data-src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="Thumbnail [100%x225]" src="" data-holder-rendered="true" style="display: block;"/>
            <div class="card-body">
                <p class="card-text">{{movie.original_title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" [routerLink]="['/movie', movie.id]" routerLinkActive="router-link-active"  class="btn btn-sm btn-outline-secondary">View</button>
                        
                    </div>
                    <small class="text-muted">{{movie.release_date | date }}</small>
                </div>
            </div>
        </div>
    </div>
</div>